body {
    background-color: #121826;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
.navbar,
.bottom-navbar {
    background-color: #26354d;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
.title {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.navitem a,
.navbar a,
.bottom-navbar a {
    color: #d9e6f2;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.page {
    display: none;
    text-align: center;
}
.introduction {
    display: block;
}
#introduction:target,
#chapter1:target,
#credits:target {
    display: block;
}
body:has(#chapter1:target) .introduction,
body:has(#credits:target) .introduction {
    display: none;
}
body:has(#introduction:target) #chapter1,
body:has(#introduction:target) #credits {
    display: none;
}
body:has(#chapter1:target) #credits {
    display: none;
}
body:has(#credits:target) #chapter1 {
    display: none;
}
h1 {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}
p {
    color: #d9e6f2;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
.chapter img {
    font-family: Arial, sans-serif;
}
.credits {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}